* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fffdfa;
    margin: 0;
    padding: 0;
}

h1 {
    color: #070606;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #070606;
}

.bonjour {
    color: #fe6600;
}

.navbar {
    background-color: #070606;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: none;
}

.navbar li a,
.navbar .right-align a {
    display: block;
    color: #dcdcdc;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
}

.navbar li a:hover,
.navbar .right-align a:hover {
    background-color: #fe6600;
    color: #070606;
}

.page-title {
    background-color: #dcdcdc;
    padding: 10px;
    text-align: left;
}

.center-box {
    background-color: #fe6600;
    margin-top: 1in;
    padding: 2px 20px;
    text-align: left;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 0.9em;
    background-color: rgba(255, 253, 250, 0.95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: #393939 !important;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sites-dropdown .dropdown-content {
    min-width: 90px;
    font-size: 0.9em;
}

.support-text {
    text-align: center;
    max-width: 60%;
    margin: 65px auto;
}

.bottom-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 60%;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.message-box {
    margin: 30px;
}

#message {
    width: 90%; /* adjust this value for the width */
    height: 200px; /* adjust this value for the height */
}

.button-text {
    text-align: left;
    margin-top: 5px;
}
.button-text input[type="submit"] {
    padding: 2px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 10px;
    white-space: normal;
    vertical-align: top;
}

#loginWindowContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#loginWindowContent {
    padding: 20px;
}

#closeLoginWindow {
    margin-top: 10px;
}
